# 忽略 node_modules 目录
node_modules/

# 忽略 Python 缓存文件
__pycache__/
*.py[cod]

# 忽略 ESLint 缓存文件
frontend/node_modules/.cache/eslint/

# 忽略特定的 lock 文件
frontend/node_modules/.package-lock.json

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略编辑器/IDE生成的文件
.vscode/
.idea/
